<div class="card text-bg-dark row">
    <img src="https://a-cloud.b-cdn.net/media/iW=5000&iH=any/46e2ef64b1ad792cff67a2d2e16d59a6.jpg"
     class="card-img " alt="...">
     <div class="card-img-overlay divText col-sm-12">
     <h1 class="card-title">start selling on noon</h1>
     <p class="card-text">
        noon was created to help businesses, no matter their size, 
        grow. Being from the Middle East, 
        noon is especially passionate about helping local 
        businesses thrive, we look forward to
         helping you take your venture to the next level.
     </p>
</div>
</div>

<!--Part Two-->
<div class="container containerPartTwo">
    <div class="row text-center">
      <h1 class="col colWhy">
        why noon?
      </h1>
    </div>
    <div class="row ">
      <div class="col-sm-6">
        <i class="bi bi-graph-up-arrow"></i>
        <h5>
            grow your business
        </h5>
        <p>
            Use noon's custom-built tools and seller 
            support team to expand your business online,
             safeguarding for future success.
        </p>
      </div>
      <div class="col-sm-6">
        <i class="bi bi-people-fill"></i>
        <h5>
            reach millions of customers
        </h5>
        <p>
            Access noon's hyper-engaged database of 
            millions of customers across KSA, the UAE, 
            and Egypt.
        </p>
      </div>
    </div>
  </div>

  <div class="containerPartThree ">
    <iframe width="60%" height="448" 
    src="https://www.youtube.com/embed/vW7EzyL7cOo" 
    title="seller lab: why sell on noon? | ليش تبيع على نون" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="card containerPartFour">
        <h2 class="card-text tabok">
            deliver to more customers 
        </h2>
        <div class="card-text tabok">
                Thousands of vehicles on the road, serving over 450 cities
                 in the Middle East
                 - noon has built the region's largest last-mile fleet.
        </div>
        <iframe width="670" height="350" 
        src="https://www.youtube.com/embed/wIwM-wNcrFE" title="noon 
        deliveries: Tabuk, KSA | نون: تبوك، السعودية" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media;
         gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="containerPartFive container text-center">
    <div class="col align-self-center">
        <span class="colWhy">
          access noon's seller lab
        </span>
        <p id="ourTeam">
            Our team of selling experts are here to make your experience on noon a successful one. Each week, the Seller Lab team will share new videos with tips, tutorials, and more to support your selling success.
        </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm ">
          <div class="card cardThree" style="width: 18rem;">
            <img src="https://a-cloud.b-cdn.net/media/iW=550&iH=207&oX=18&oY=0&cW=360&cH=207/27c2da712f0c2c60fed7c4392efb8d0c.png" class="card-img-top" alt="...">
            <div class="card-body">
              <span>
                Seller Lab LIVE
              </span>
              <p class="card-text">
                Join our free live seller lab session on 
                <a href="https://www.linkedin.com/company/nooncom/events" target="_blank">
                  noon's LinkedIn page,
                </a>
                 hosted by team noon.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm ">
          <div class="card cardThree" style="width: 18rem;">
            <img src="https://a-cloud.b-cdn.net/media/iW=626&iH=209&oX=133&oY=0&cW=360&cH=209/32cc620957d303e85ed3d2a5703a0512.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <span>
                 Newsletters
              </span>
              <p class="card-text">
                Every month, receive updates, news, and industry insights
                <a href="https://sell.withnoon.com/#lxuvfckvxjoaaljeghfzmyjdxumzgxahuwls" target="_blank">
                  delivered directly to your inbox.
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm ">
          <div class="card cardThree" style="width: 18rem;">
            <img src="https://a-cloud.b-cdn.net/media/iW=401&iH=210&oX=20&oY=0&cW=361&cH=210/c36ec688b19de749ac1b4229fc09beec.png" class="card-img-top" alt="...">
            <div class="card-body">
              <span>      
                Guides & Tutorials
              </span>
              <p class="card-text">Check out our 
                <a href="https://youtube.com/playlist?list=PLRkdvmQfe7TsK7p1m7hUka8JXTsaqy3CR" target="_blank">
                  video tutorials
                </a>
                and 
                <a href="https://help.noon.partners/hc/en-us" target="_blank">
                  help center
                </a>
                for quick access to seller support.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container containerPartSix">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="https://a-cloud.b-cdn.net/media/iW=831&iH=831&oX=152&oY=0&cW=611&cH=769/41806cb179cffde8fe3e1ea4e2b69836.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <h4 class="colWhy">
          set up a seller account now
        </h4>
        <p>
          First you need to create a noon customer account here, then you will need to set-up your seller store. After this, simply upload the following required documents: 
        </p>
        <ul>
          <li>Trading license or commercial registration</li>
          <li>Passport or residence ID (both sides)</li>
          <li>Residence visa for non-nationals </li>
          <li>VAT certificate (selling on noon is also open for non-VAT registered sellers)</li>
        </ul>
        <button type="button" class="btn btn-primary" >
         <a href="https://login.noon.partners/en/register" target="_blank">
          set up an account 
         </a>
        </button>
      </div>
    </div>
    <iframe width="647" height="364" src="https://www.youtube.com/embed/iY5fIyHcppw" title="noon seller stories: Nrsen Foundation |  قصص البائعين في نون: مؤسسة نرسن" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

<div class="containerPartSeven">
  <p class="colWhy">
    see what our partners say
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm conSeven">
        <div class="card cardThree" >
          <div class="card-body">
            <p class="card-text">
              “noon has the fastest on-boarding time ; half the time of other online players. noon is a source of regional pride in the Middle East. A high quality set up, powered by an A-class team; noon is amongst our top three 

              e-commerce revenue generators.”
           
            <span>
              Tina Oberoi
            </span>
            Apparel Retail
          </p>
          </div>
        </div>
      </div>
      <div class="col-sm conSeven">
        <div class="card cardThree">
          <div class="card-body">
            <p class="card-text">
              Check out our 
              "We work with noon on the FBN model meaning noon stocks 
              our inventory at their warehouse and takes complete 
              responsibility from storage to last-mile delivery, along 
              with customer returns. The past two years have been a 
              simple, smooth and successful journey."
              <span>
                Iesmoenie Jakoet
              </span>
              Landmark/Shoexpress
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="containerPartFive text-center"> 
  <div class="col align-self-center">
    <i>
      <img src="assets/rocket.png" style="display: block;
      margin:10px 0 10px 49% ;
         height: 3rem;">
    </i>
    <span class="colWhy">
      want to know more?
    </span>
    <p id="ourTeam" style="font-size:.8rem; color:rgb(150, 150, 150);">
      Register your interest in selling at noon by clicking the following buttons:    
   </p>
   <button class="col CBtn">KSA</button>
   <button class="col CBtn">Egypt</button>
   <button class="col CBtn">UAE</button>
  </div>
  </div>