<footer>
  <div class="first text-center">
        <a href="https://www.facebook.com/noon/" target="_blank">
        <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/company/nooncom/" target="_blank">
        <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://twitter.com/noon?lang=en" target="_blank">
        <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCNc3FuAaZ_SInaQgWLrKYYQ" target="_blank">
        <i class="bi bi-youtube"></i>
        </a>
  </div>
  <div class=" second text-center">
     <a href="https://www.noon.com/uae-en/terms-of-use/" target="_blank">terms of use</a>
     <a href="https://www.noon.com/uae-en/privacy-policy/" target="_blank">privacy of policy </a>
     <a href="https://login.noon.partners/en/register" target="_blank">sell with us </a>
  </div>
</footer>