<div class="card cardOne text-bg-dark row">
  <img src="https://a-cloud.b-cdn.net/media/iW=5000&iH=any/89d82bc29b707ba3f4aac3a95141e7f1.jpg"
   class="card-img " alt="...">
   <div class="card-img-overlay divText col-sm-12">
   <h1 class="card-title">expand your business online</h1>
   <p class="card-text">
    Reach millions of customers using noon's tailor-made
     platform and tools including the largest logistics 
     fleet in the region and secure payment gateway.
   </p>
   <button >
    <a routerLink="/Login">
      sign up now
    </a></button>
</div>
</div>

<div class="containerPartFive container text-center">
  <div class="col align-self-center">
      <span class="colWhy">
        frequently asked questions 
      </span>
      <p id="ourTeam">
        Everything you need to know, and more.
      </p>
      <iframe width="500" height="270" 
      src="https://www.youtube.com/embed/sblCqJ5y_dI" 
      title="seller lab: seller FAQs | منصة البائعين: أسئلة وأجوبة البائعين" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div class="line"></div>

<div class="questionContainer">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          what does it mean to sell on noon?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          noon.com is the local digital marketplace, created to serve and support businesses in the Middle East. Sellers with businesses of any size are welcome to use noon as their digital platform to expand their business online.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          how do I open a noon seller account?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          It’s easy! First you must have a valid trading license and a noon account. Then you will need to create a seller store and upload the requested documents.<br><br>
          Sign-up to create a noon seller store here.<br>
          Find out more about documents you need to create a seller store here. <br><br>
          Once you have submitted all of the required documents and received approval, your store will be live within days.         </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          I’m registered as a noon seller - what’s next?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Contact Seller Support to book a training session to guide you through the selling process and master the use of noon’s Seller Lab tools. <br><br>
          email: seller@noon.com<br><br>
          You will also need to add your warehouse location to your store and start listing products. Find out how to list your products here. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          how much does it cost to sell my products on noon?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          The breakdown of fees and commissions applies per item, and the rates differ according to the selling model you’ll be using to sell your products on noon; either fulfilled by noon (FBN), or fulfilled by partner (FBP).<br><br>
          Learn more about commission fees and charges here:<br>
          KSA seller fees<br>
          UAE seller fees<br>
          EGT seller fees
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          how do I get paid?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Once you start selling on noon, we will automatically transfer your sales to your bank account on a weekly basis. You will receive a payments statement for each transaction which you can find in your seller account.<br><br>
          Every Thursday the bank processes all payments, you should receive payment in your bank account within 2-3 business days. You will also receive a bank transaction ID and a detailed statement with each payment.<br><br>
          Learn more about setting up your payments here. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          what are noon’s selling models?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          The method with which you choose to stock, sell and ship your products with noon. At noon we have either fulfilled by noon (FBN), also known as noon Express, and fulfilled by partner (FBP) which includes cross-dock, direct ship, and direct delivery.<br><br>
          FBN is noon’s dedicated end-to-end support selling model, preferred by sellers and customers alike. Learn more about noon’s selling models here.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          how do I manage my noon seller account?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          As a registered and verified noon seller, you will have access to our in-house interface called Seller Lab which helps you sell your products and manage your store on noon. Click on the following link to access your Seller Lab: www.partners.noon.com<br><br>
          Learn more about Seller Lab here. <br>
          Learn more about stock management and transfers here.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          how will I know when I have got a sale?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          It depends on your selling model. If you are using fulfilled by partner (FBP), cross-dock, direct ship, or direct delivery, you will be notified via email whenever you receive a new order. All orders pending your approval will appear in the Stock Requests tab of your Seller Station.<br><br>
          Sellers using our fulfilled by noon (FBN) selling model don’t need to worry about this. noon will manage your orders, inventory, return, and customer queries on your behalf. <br><br>
          FBN sellers can follow your sales directly on the Sales tab of their Seller Station. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
          can I sell my products in other noon markets?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Sellers will need to sell within the region they are based.
        </div>
      </div>
    </div>
</div>
</div>
<div class="line"></div>
<div class="row sellContainer text-center">
  <h1 class="col">
    are you ready to sell?
  </h1>
  <p>
    Join the Middle East's leading digital marketplace.
  </p>
  <button routerLink="/Register"> sign up now</button>
</div>
